* {
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
header { 
	padding: 10px; 
	background-color: deepskyblue;	
	margin-bottom: 20px;
}
#logo {
	float:left; 
	margin:10px; 
	width:100px; 
	height:100px;
}
.name {
	padding-top: 40px;
	font-size: 35px;
	color: white;
}
.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 30px;
	overflow: hidden;
}
nav{
	background-color: deepskyblue;
	margin-bottom: 20px;
	padding: 30px;
}
.links {
	background-color: deepskyblue;
	margin-bottom: 20px;
	padding: 30px;
}
.table {
	background-color: green;
	margin-bottom: 20px;
}
td, th {
	width: 120px;
	padding: 20px;
	font-style: normal;
	font-size: 20px;
}
tr:nth-child(even) {
	background-color: gold;
}
tr:nth-child(odd) {
	background-color: blue;
}
.form {
	background-color: deepskyblue;
	padding: 30px;
	margin-bottom: 20px;
}
nav ul li {
	margin: 0 100px;
	list-style: none;
	width: 60px;
	display: inline;
	padding: 20px;
}
footer{
	text-align: center; 
	margin: 0 auto;
	padding: 30px; 
	background-color: deepskyblue;	
}